@use '../abstracts/' as *;
.home {
  padding: 1rem 0;
  .itemsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
  }
  .cartButton {
    position: fixed;
    padding: 1rem;
    background-color: red;
    color: white;
    top: 1rem;
    right: 1rem;
    &:hover {
      background-color: pink;
    }
  }
}
